@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
:root {
  --primary: #81c6e8;
}
body {
  box-sizing: border-box;
  height: 100vh;
  overflow-y: hidden;
}
nav{
  background-color: #81c6e8;
  padding: 24px 24px;
}
main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.inputs {
  display: flex;
  flex-direction: column;
}
input {
  margin-bottom: 32px;
  font-weight: bold;
}
main .wrapper {
  height: 75vh;
  width: 50%;
  display: flex;

  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
main .container-left {
  
  flex: 3;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 24px 40px;
  overflow: hidden;
}
main .container-left .title{
  width: 100%;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: var(--primary);
  font-weight: bold;
}
main .container-left img{
  height: 650px;
  position: absolute;
  bottom: -300px;
}
main .container {
  color: white;
  flex: 2;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px 40px;
}

main .container .c-textfield {
  color: white;
  background-color: transparent;
  padding: 8px 0px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}
main button {
  cursor: pointer;
  color: white;
  background-color: transparent;
  margin-top: 16px;
  border: 1px solid white;
  border-radius: 16px;
  padding: 8px;
  font-weight: bold;
  outline: none;
}
main button:hover{
  background-color: white;
  color: var(--primary);

}
.wrong{
  font-size: 12px;
  color: #FF6464;
  font-weight: bold;
}
